# https://github.com/essamatefelsherif/nodecpp-rational

# C++ intermediate files
*.out
*.o
*.so
*.gcno
*.gcda
*.gcov

# node modules
node_modules
package-lock.json

# other folders
build/
tmp/

# config files
.coveralls.yml

